.view-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f8f9fa;
    padding: 20px;
  }
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  
  .product-card {
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 450px;
    text-align: left;
  }
  
  .card-title {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
  }
  
  .product-detail {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 16px;
  }
  
  .label {
    font-weight: bold;
    color: #555;
  }
  
  .value {
    color: #222;
  }
  
  .loading-text {
    font-size: 16px;
    text-align: center;
    color: #666;
  }
  .product-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .error {
    color: red;
    font-size: 16px;
    text-align: center;
  }
  