* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style: none;
}
.nav-item {
    cursor: pointer;
}
.hideSelect {
    appearance: none;
}
.pd-select {
    padding: 7px 6px;
}
.pd-edit-btn {
    position: relative;
    top: 0px;
    right: 40px;
    background: wheat;
    padding: 2px 7px;
}